* {
    box-sizing: border-box;
  }

.navbar {
    display: flex;
    
    
    justify-content: space-around;
    
    margin: 10px;
    padding: 10px;
}
.select {
    border: none;
    background-color: #fff;
    padding: 10px;
    height: 100%;

}
.page{
    display: flex;
    flex-direction: row;
}
.signin{
    text-decoration: underline;

}
.img{
   
    height: 100px;
    width: 100px;
    padding: 20px;
   

    
    
}
.heart1{
    height: 15px;
    width: 15px;
    padding: 5px;
}
.product{
    
   width: 300px;
   margin: 10px;
   padding: 5px;
   border: 1px solid #add;
 
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 15px;
    max-width: 1200px;
    margin: 20px;

}
.para2{
    font-size: 10px;
    color: light gray;
    padding-top: 0px;
    margin-top: 0px;
}
.title{
    font-size: 10px;
}
.choice{
    border: none;
    background-color: #fff;
    padding: 10px;
    
}
.choices{
    display: flex;
    flex-direction: column;
    justify-self: start;
}
.checkbox{
    display: flex;
    justify-self: start;
    padding: 10px;
    font-weight: bold;
    gap: 10px;
}
.select:hover {
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  border: none;

}

.content{
    text-align: center;
}
.para{
    font-size: 15px;
    text-align: center;

}
.heading{
    font-size: 25pxs;
    text-align: center;
    font-weight: 500;
    
}
.squre{
    text-align: left;
    height: 32px;
    width: 32px;
}
.arrow{
    height: 20px;
    width: 20px;
    text-align: center;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    
}
.items{
    font-weight: bold;
}
.filter{
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
   
}
.rightIcon {
    display: flex;
    gap: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    
}
.logo{
    font-size: 10px;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    font-weight: bold;
    width: 100%;
}
.options:hover{
    text-decoration: underline;
}